html
head
   title Person
   link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.css")
   script(src="https://cdn.tailwindcss.com") 
   script(src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js") 
body
    div.container.mx-auto.py-4
        div
            h1.text-center.text-lg Create Person
            if(messages.error)
                h3(style = "color:red") #{messages.error}
        form(action="/person/create", method="POST")
            div.flex.flex-col
                div.mb-6
                    label.block.mb-2.text-sm.font-medium.text-gray-900(for='name' class='dark:text-white') Your name
                    input#name.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full(type='text' name="name" class='focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' placeholder='Your name' )
                div.mb-6
                    label.block.mb-2.text-sm.font-medium.text-gray-900(for='age' class='dark:text-white') Your age
                    input#age.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full(type='number' name="age" class='focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' placeholder='Your age' )
                div.mb-6
                    label.block.mb-2.text-sm.font-medium.text-gray-900(for='nationality' class='dark:text-white') Your Nationality
                    input#nationality.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full(type='text' name="nationality" class='focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' placeholder='Your nationality' )
                
                button.text-white.bg-blue-700.font-medium.rounded-lg.text-sm.w-full.px-5.text-center(type='submit' class='hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 sm:w-auto py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800') Submit
