html
head
   title Person
   script(src="https://cdn.tailwindcss.com")

   body
      div.container.mx-auto.py-4
         div.flex.justify-between
            h1.text-center.text-lg Person Crud
            div 
               input(type="text" name="search" id="search-data"  class='p-2 mr-2 outline-none border border-blue-500 rounded-xl' placeholder='Search ....' onInput="SeachData(this)")
               a.bg-blue-500.text-white.font-bold.py-2.px-4.rounded(href="/person/create") Create Person 
         div.flex.flex-col
            if(messages.success)
               h3(style = "color:green") #{messages.success}
            div.overflow-x-auto(class='sm:-mx-6 lg:-mx-8')
               div.inline-block.min-w-full.py-2(class='sm:px-6 lg:px-8')
                  div.overflow-hidden#person-data
                     include ./person-data.pug

      script(src="/js/script.js") 
        