html
   head
      title=name
   body
      h1 Greetings from #{name}
      a(href = url) URL
      div.header.
        I'm the header for this website.
    
      img(src="/wallpaperflare.com_wallpaper (2).jpg", alt="One piece" width = "100")
