doctype html
html
   head
      title Hello Pug
   body
      h1 Welcome to Pug
      p.greetings#people Hello PUG!
      div
        | To insert multiline text, 
        | You can use the pipe operator.

      div.container.column.main#division(width = "100", height = "100") But that gets tedious if you have a lot of text.  You can use "." at the end of tag to denote block of text. To put tags inside this block, simply enter tag in a new line and indent it accordingly.

