html
   head
      title Admin
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.css")
      script(src="https://cdn.tailwindcss.com") 
      script(src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js")
   body
    H1 Hello #{user.name}